includes:
	- vendor/contributte/phpstan/phpstan.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
	level: 8
	phpVersion: 80227

	tmpDir: %currentWorkingDirectory%/var/tmp/phpstan

	fileExtensions:
		- php
		- phpt

	paths:
		- app
		- bin

	ignoreErrors:
		- '#Variable property access on #'
